# Composer
/vendor/
/bin/
composer.lock

phpunit.xml

# IDE files
/.idea
/.vscode

# MacOS
.DS_Store

# Caches
.php_cs.cache
.phpunit.result.cache

# Other files
*.bak
src/BeSimple/SoapClient/Tests/bin/axis2-*
src/BeSimple/SoapClient/Tests/bin/rampart-dist-*
src/BeSimple/SoapClient/Tests/bin/image.jpg
src/BeSimple/SoapClient/Tests/bin/test123.txt
src/BeSimple/SoapClient/Tests/bin/upload.txt
tests/phpcs.cache.json
tests/php-cs-fixer-cache
tests/phpstan-cache
