parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        analyse:
              # Analysis would crash on PHP 8 due to a signature change in PDO
            - %currentWorkingDirectory%/src/BeSimple/*/Tests/*
    tmpDir: %currentWorkingDirectory%/tests/phpstan-cache
    bootstrapFiles:
#        - phpstan-constants.php
    level: 1
    parallel:
        processTimeout: 600.0
